<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}EATIN TIME!{{else}}ITS EATEN{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETED!</button>
</li>